<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <conversionRule conversionWord="truncatedMsg"
                  converterClass="com.github.libgraviton.workerbase.logging.TruncatedMessageConverter" />

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
    <File>logs/worker.log</File>
    <encoder>
      <pattern>%date{ISO8601} [%thread] %5level %logger{1}:%line - %truncatedMsg{1000,[... truncated]}%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>debug</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <maxIndex>9</maxIndex>
      <FileNamePattern>logs/worker.log.%i</FileNamePattern>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>1000KB</maxFileSize>
    </triggeringPolicy>
  </appender>
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} [%thread] %5level %logger{1}:%line - %truncatedMsg{1000,[... truncated]}%n</pattern>
    </encoder>
  </appender>
  <root level="debug">
    <appender-ref ref="file"/>
    <appender-ref ref="stdout"/>
  </root>
</configuration>